# Emacs related files:
*~

# vim related files
*.swp

# aims output
*.out

# testcase folder
testcases/
data/*

# Files derived from templates:
*.conf

# Python
*.ipynb_checkpoints
*.pyc

# Aims
*geometry.in
*control.in

# ASE
*parameters.ase

*.mod
*.o
*.so

# build stuff
build
lib
bin
dist
*.egg-info
