# Emacs related files:
*~

# vim related files
*.swp

# aims output
*.out

# testcase folder
testcases/
data/*

# hilde config file
hilde.cfg

# Python
*.ipynb_checkpoints
*.pyc

# Aims
*geometry.in
*control.in

# ASE
*parameters.ase

# FireWorks
launcher_*
*.mod
*.o
*.so
FW.json

# Database Files
*.db

# build stuff
build
lib
bin
dist
docker
*.egg-info

# vscode
.vscode

# Output Files
*.hdf5
*.pick

# Test Directories
test_run

# direnv
**.envrc

# venv
venv

# docker
docker.md
