# information to build a default control.in
[control]
xc =                        pbesol
relativistic =              atomic_zora scalar
k_grid =                    [2, 2, 2]
vdw_correction_hirshfeld =  False
output_level =              MD_light
compute_forces =            False
compute_analytical_stress = False

[basisset]
type = light

[socketio]
port = 12345

[machine]
 aimsbin =          /home/knoop/FHIaims/bin/aims.x
 basissetloc =      /home/knoop/FHIaims/aimsfiles/species_defaults
 pythonbin =        python3.7
 mpi_command =      orterun
 aims_command =     ${mpi_command} ${aimsbin}
 outfilename =      aims.out

