# configfile written at 2018/11/21 14:21:43

[control]
xc:                  pbesol
relativistic:        atomic_zora scalar
k_grid:              [2, 2, 2]
vdw_correction_hirshfeld: False
output_level:        MD_light
compute_forces:      True
compute_analytical_stress: False
sc_accuracy_rho:     1e-06

[basisset]
type:                light

[socketio]
port:                12345

[machine]
aimsbin:             /home/knoop/FHIaims/bin/aims.x
basissetloc:         /home/knoop/FHIaims/aimsfiles/species_defaults
pythonbin:           python3.7
mpi_command:         orterun
aims_command:        orterun /home/knoop/FHIaims/bin/aims.x
outfilename:         aims.out

[control_kpt]
density:             2

[relaxation]
fmax:                0.001
linesearch:          False
maxstep:             0.2
maxsteps:            20
workdir:             test_run
trajectory:          test_run/trajectory.yaml
